body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
#header{
    background: maroon;
    color: white;
    padding: 20px;
}
strong {
    color: aquamarine;
    font-size: 18pt;
}

#products{
    padding: 50px;
}

.item{
    background: grey;
    display: inline-block;
    width: 200px;
    height: 250px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 10px;
    font-size: 16px;
    color: maroon;
    
}

.item:hover{
    box-shadow: 1px 1px 1px 1px black;
}

footer{
    background: black;
    color: white;
    padding: 50px 20px 50px 20px;
}

img {
    width: 100%;
    padding: 10px;
  }

.portfolio{
    color: black;
}
